* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 380px;
  padding: 10px;
}

input {
  border: 1px solid #5f9341;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  cursor: pointer;
  font-weight: bold;
  padding: 15px 20px;
  margin-bottom: 20px;
}

#saveButton {
  background-color: #5f9341;
  border: 1px solid #5f9341;
  color: #fff;
}

#deleteButton {
  background-color: transparent;
  border: 1px solid #5f9341;
  color: #5f9341;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

a {
  color: #5f9341;
}
